<ion-view view-title="Ask">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Ask A Question</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="row"></div>
        <div class="row">
            <div class="col greyborder">
                <div class="input-field">
                    <textarea id="question" class="materialize-textarea"></textarea>
                    <label for="question">Type Your Question</label>
                </div>
                <div class="takepicturediv">
                    Or take a picture
                    <i class="ion-camera takepictureicon"></i>
                    <i class="ion-camera takepictureicon"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button icon-right icon-logout button-calm primarybg postbutton">Post</a>
            </div>
        </div>
    </ion-content>


    <div class="chaptersdiv z-depth-5" ng-if="showchapters">
        <ul class="list marginbottom0">
            <li class="item" ng-repeat="chap in chapters">
                <p>
                    <input type="checkbox" class="filled-in" id="{{chap.chapterid}}" checked="checked" ng-model="chap.selected" ng-change="addtochapfilter()" />
                    <label for="{{chap.chapterid}}">{{chap.chaptername}}</label>
                </p>
            </li>

        </ul>
        <div class="row chapterbuttons marginbottom0">
            <div class="col">
                <a class="waves-effect waves-light btn nouppercase buttonbluebg boldbutton" ng-click="selectallchaps()" ng-disabled="!allchapsbutton">All Chapters</a>
            </div>
            <div class="col">
                <a class="waves-effect waves-light btn floatright nouppercase buttonbluebg boldbutton" ng-click="removefilters()">OK</a>
            </div>

        </div>

    </div>

    <div class="bottomstabs">
        <div class="row marginbottom0 paddingbottom0 bottomimagestab paddingtop0">
            <div class="col col-25 textcenter bottomtabimages paddingbottom0 paddingtop0" ng-repeat="subject in subjects" ng-click="selectsubject($index)">
                <img src="img/{{subject.active}}" width="32%" ng-if="$index == selectedsubject || selectedsubject==null">
                <img src="img/{{subject.inactive}}" width="32%" ng-if="$index != selectedsubject && selectedsubject!=null">
            </div>
        </div>
        <div class="row marginbottom0 paddingbottom0">
            <div class="col col-25 textcenter paddingtop0" ng-repeat="subject in subjects">
                <h6 class="margin0">{{subject.name}}</h6>
            </div>
        </div>

    </div>


</ion-view>