<ion-view view-title="Ask">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Ask A Question</h1>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="row"></div>
        <div class="row">
            <div class="col greyborder">
                <div class="input-field">
                    <textarea id="question" class="materialize-textarea"></textarea>
                    <label for="question">Type Your Question</label>
                </div>
                <div class="takepicturediv">
                    Or take a picture
                    <i class="ion-camera takepictureicon"></i>
                    <i class="ion-camera takepictureicon"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="button icon-right icon-logout button-calm primarybg postbutton">Post</a>
            </div>
        </div>
    </ion-content>


    <div class="chaptersdiv">
        <ul class="list" style="margin-bottom: 30px;">
            <li class="item" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
                <p>
                    <input type="checkbox" class="filled-in" id="chapter{{i}}" checked="checked" />
                    <label for="chapter{{i}}">Chapter {{i}}</label>
                </p>
            </li>

        </ul>
        <div class="row chapterbuttons marginbottom0">
            <div class="col">
                <a class="waves-effect waves-light btn">All Chapters</a>
            </div>
            <div class="col">
                <a class="waves-effect waves-light btn floatright">OK</a>
            </div>

        </div>

    </div>

    <div class="bottomstabs">
        <div class="row marginbottom0 paddingbottom0 bottomimagestab paddingtop0">
            <div class="col col-25 textcenter bottomtabimages paddingbottom0">
                <img src="img/physics-active.png" width="40%">

            </div>
            <div class="col col-25 textcenter bottomtabimages paddingbottom0">
                <img src="img/chemistry-active.png" width="40%">

            </div>
            <div class="col col-25 textcenter bottomtabimages paddingbottom0">
                <img src="img/biology-active.png" width="40%">

            </div>
            <div class="col col-25 textcenter bottomtabimages paddingbottom0">
                <img src="img/maths-active.png" width="40%">

            </div>
        </div>
        <div class="row marginbottom0 paddingbottom0">
            <div class="col col-25 textcenter">
                <h6>Physics</h6></div>
            <div class="col col-25 textcenter">
                <h6>Chemistry</h6></div>
            <div class="col col-25 textcenter">
                <h6>Biology</h6></div>
            <div class="col col-25 textcenter">
                <h6>Maths</h6></div>
        </div>

    </div>


</ion-view>