<div class="z-depth-4">
    <div class="row passheaddiv">
        <h5 class="marginauto lightblackcolor">Change Password</h5>
        <img src="img/lock.png" class="passlockimage">
    </div>

    <div class="row marginbottom0">
        <div class="input-field marginauto width65 textcenter">
            <input id="currentpassword" type="password" class="validate secondarycolor noshadow changepasswordinput" placeholder="Current Password" maxlength="4">
        </div>
    </div>

    <div class="row marginbottom0">
        <div class="input-field marginauto width65 textcenter">
            <input id="newpassword" type="password" class="validate secondarycolor noshadow changepasswordinput" placeholder="Create Password" maxlength="4">
        </div>
    </div>

    <div class="row marginbottom0">
        <div class="input-field marginauto width65 textcenter">
            <input id="confirmpassword" type="password" class="validate secondarycolor noshadow changepasswordinput" placeholder="Confirm Password" maxlength="4">
        </div>
    </div>
    <div class="row paddingbottom30">
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10 boldbutton nouppercase" ng-click="hidepasswordpopup()">Cancel</a>
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10 boldbutton nouppercase">Submit</a>
    </div>

</div>
