<div class="z-depth-4">
    <div class="row passheaddiv">
        <h5 class="marginauto lightblackcolor">Change Number</h5>
        <img src="img/lock.png" class="passlockimage">
    </div>

    <div class="row">
        <div class="input-field marginauto width40p">
            <input id="code" type="tel" class="validate lightblackcolor noshadow countrycode" value="+91">
        </div>
        <div class="input-field marginauto width65">
            <input id="phone" type="tel" class="validate lightblackcolor noshadow fontsize17" value="9820840946" placeholder="Phone Number">
        </div>
    </div>
    
    <div class="row">
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10">Send OTP</a>
    </div>
    
    <hr>

    <div class="row">
        <h5 class="fontsize12 lightblackcolor marginauto">Verify Your Number</h5>
    </div>

    <div class="row">
        <div class="input-field marginauto width65 textcenter">
            <input id="confirmpassword" type="password" class="validate secondarycolor noshadow">
            <label for="confirmpassword">Enter OTP</label>
        </div>
    </div>
    <div class="row paddingbottom30">
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10" ng-click="hidenumpopup()">Cancel</a>
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10">Verify</a>
    </div>

</div>
