<div class="z-depth-4">
    <div class="row passheaddiv">
        <h5 class="marginauto lightblackcolor">Change Password</h5>
        <img src="img/lock.png" class="passlockimage">
    </div>

    <div class="row">
        <div class="input-field marginauto width65 textcenter">
            <input id="currentpassword" type="password" class="validate secondarycolor noshadow">
            <label for="currentpassword">Current Password</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field marginauto width65 textcenter">
            <input id="newpassword" type="password" class="validate secondarycolor noshadow">
            <label for="newpassword">New Password</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field marginauto width65 textcenter">
            <input id="confirmpassword" type="password" class="validate secondarycolor noshadow">
            <label for="confirmpassword">Confirm Password</label>
        </div>
    </div>
    <div class="row paddingbottom30">
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10" ng-click="hidepasswordpopup()">Cancel</a>
        <a class="waves-effect waves-light btn marginauto darkbluebg borderradius10">Submit</a>
    </div>

</div>
