<ion-view view-title="Login">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">

        </div>
        <h1 class="title">Login</h1>
        <div class="buttons">

        </div>
    </ion-header-bar>

    <ion-content class="has-header greybg loginbg">

        <ion-tabs id="logintabs" class=" primarybg ">

            <ion-tab title="Login">

                <div class="row">
                    <div class="col"></div>
                    <div class="col col-90">

                        <div class="loginbox">

                            <div class="row loginrow">
                                <div class="col-10"></div>
                                <div class="col-80">
                                    <form class="">
                                        <div class="input-field">
                                            <i class="ion-android-call  prefix loginicon"></i>
                                            <input id="icon_prefix" type="number" class="validate">
                                            <label for="icon_prefix">Phone Number</label>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-10"></div>

                            </div>
                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-80">
                                    <form class="">

                                        <div class="input-field">
                                            <i class="ion-ios-locked  prefix loginicon"></i>
                                            <input id="icon_prefix" type="password" class="validate">
                                            <label for="icon_prefix">Password</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-10"></div>
                            </div>

                            <div class="row">
                                <div class="col-10"></div>
                                <div class="col-80 loginbut"><a class="waves-effect waves-light btn primarybg" style="width:100%;">Login</a></div>
                                <div class="col-10"></div>
                            </div>
                            <div class="textcenter forgottext">Forgot Password?</div>

                            <div class="row poweredby">
                                <div class="col textcenter">
                                    <img src="img/INQ.png" class="inqwidth">
                                </div>
                                <div class="col textcenter poweredtext">Powered by</div>
                                <div class="col textcenter">
                                    <img src="img/sunali.png" class="inqwidth">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col"></div>
                </div>


            </ion-tab>

            <ion-tab title="Register">
                <div class="row">
                    <div class="col"></div>
                    <div class="col col-90">

                        <div class="loginbox loginboxregister z-depth-3">

                            <div class="row marginbottom0">
                                <div class="col col-20">
                                    <img src="img/id-card-colored.png" width="80%" class="margintop25">
                                </div>
                                <div class="col">
                                    <div class="input-field margintop0">
                                        <input id="name" type="text" class="validate marginbottom0">
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="input-field margintop10">
                                        <input id="school" type="text" class="validate marginbottom0">
                                        <label for="school">School</label>
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                            <div class="row marginbottom0">
                                <div class="col col-20"></div>
                                <div class="col col-70">
                                    <div class="row marginbottom0">
                                        <div class="col col-50">
                                            <div class="regdrops">
                                                <select>
                                                    <option value="" disabled selected>Standard</option>
                                                    <option value="1">8</option>
                                                    <option value="2">9</option>
                                                    <option value="3">10</option>
                                                </select>
                                                <label>Standard</label>
                                            </div>
                                        </div>
                                        <div class="col col-50">
                                            <div class="regdrops">
                                                <select>
                                                    <option value="" disabled selected>Standard</option>
                                                    <option value="1">SSC</option>
                                                    <option value="2">CBSC</option>
                                                    <option value="3">Gujrat</option>
                                                </select>
                                                <label>Board</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row marginbottom12">
                                <div class="col col-20">
                                    <img src="img/register-phone.png" width="60%" class="margintop10">
                                </div>
                                <div class="col">
                                    <div class="input-field margintop0">
                                        <input id="contact" type="text" class="validate marginbottom0">
                                        <label for="contact">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                            <div class="row marginbottom12">
                                <div class="col col-20">
                                    <img src="img/register-mail.png" width="60%" class="margintop10">
                                </div>
                                <div class="col">
                                    <div class="input-field margintop0">
                                        <input id="emailid" type="text" class="validate marginbottom0">
                                        <label for="emailid">Email ID</label>
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                            <div class="row marginbottom0">
                                <div class="col col-20">
                                    <img src="img/Register-pin-lock.png" width="80%" class="margintop25">
                                </div>
                                <div class="col">
                                    <div class="input-field margintop0 textcenter">
                                        <input id="password" type="text" class="validate marginbottom0 width65 marginauto">
                                        <label for="password">Create Password</label>
                                    </div>
                                    <div class="input-field margintop10 textcenter">
                                        <input id="confirmpassword" type="text" class="validate marginbottom0 width65 marginauto">
                                        <label for="confirmpassword">Confirm Password</label>
                                    </div>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                            <div class="row margintop0">
                                <div class="col col-10"></div>
                                <div class="col col-80">
                                    <a class="waves-effect waves-light btn primarybg width100 margintop3 ">Register</a>
                                </div>
                                <div class="col col-10"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </ion-tab>

        </ion-tabs>









    </ion-content>
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</ion-view>