<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content class="lightgreybg">
            <div class="menuprofile">
                <div class="row marginbottom0">
                    <div class="col col-33">
                        <img src="img/teacher.png" width="100%">
                    </div>

                </div>
                <div class="row marginbottom0">
                    <h4 class="menuname">Mayur Nalwala</h4>
                </div>
                <div class="row marginbottom0">
                    <h6 class="greycolor menuprofileemail">mayur@ideamagix.com</h6>
                </div>
            </div>

            <div class="list">


                <a class="item menu-close item-icon-left menutext" href="#/app/standard">
                    <i class="icon icon-home menuicons fontsize17"></i> Home
                </a>

                <a class="item menu-close item-icon-left menutext" href="#/app/feedback">
                    <i class="icon icon-feed menuicons fontsize17"></i> Feed
                </a>

                <a class="item menu-close item-icon-left menutext" href="#/app/profile">
                    <i class="icon icon-profile menuicons fontsize17"></i> Profile
                </a>

                <a class="item menu-close item-icon-left menutext" href="#/app/playlists">
                    <i class="icon icon-question-asked-color menuicons" fontsize17></i> Previously Asked Questions
                </a>

                <a class="item menu-close item-icon-left menutext" href="#/app/playlists">
                    <i class="icon icon-bookmark menuicons fontsize17"></i> Bookmarked Questions
                </a>

                <a class="item menu-close item-icon-left menutext">
                    <i class="icon icon-drawer-ask-a-questn menuicons fontsize17"></i> Questions Left
                    <span class="badge badge-assertive">4</span>
                </a>

                <a class="item menu-close item-icon-left menutext" href="#/app/chatlist">
                    <i class="icon icon-chat-icon menuicons fontsize17"></i> Private Chat With Teacher
                </a>

                <a class="item menu-close item-icon-left menutext" href="#/app/ask">
                    <i class="icon icon-drawer-ask-a-questn menuicons fontsize17"></i> Ask A Question
                </a>

                <a class="item menu-close item-icon-left menutext" href="#/app/filter">
                    <i class="icon icon-filter menuicons fontsize17"></i> Filter
                </a>

                <a class="item menu-close item-icon-left menutext" href="#/app/login">
                    <i class="icon icon-logout menuicons fontsize17"></i> Logout
                </a>

            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
