<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        
        <ion-content>
           <div class="row">
              <div class="col-40 textcenter">
                  <img src="img/menu.png" style="width:100%;">
              </div>
              <div class="col-60 textcenter" style="padding-top:16px;"> 
                  <h5> Sunil Kadu</h5>
                  <h6>sunil.k@gmail.com</h6>
              </div>
               
           </div>
           <hr style="margin-left: 22px;margin-right: 22px;">
            <div class="list menubox">


                <a class="item menu-close item-icon-left menulist" href="#/app/standard">
                    <i class="icon icon-home"></i> Home
                </a>

                <a class="item menu-close item-icon-left menulist" href="#/app/feedback">
                    <i class="icon icon-feed"></i> Feedback
                </a>

                <a class="item menu-close item-icon-left menulist" href="#/app/profile">
                    <i class="icon icon-profile"></i> Profile
                </a>

                <a class="item menu-close item-icon-left menulist" href="#/app/paq">
                    <i class="icon icon-question-asked-color"></i> Previously Asked Questions
                </a>

                <a class="item menu-close item-icon-left menulist" href="#/app/bookmarks">
                    <i class="icon icon-bookmark"></i> Bookmarked Questions
                </a>

                <a class="item menu-close item-icon-left menulist">
                    <i class="icon icon-drawer-ask-a-questn"></i> Questions Left
                    <span class="badge badge-assertive">4</span>
                </a>

                <a class="item menu-close item-icon-left menulist">
                    <i class="icon icon-chat-icon"></i> Private Chat With Teacher
                </a>

                <a class="item menu-close item-icon-left menulist" href="#/app/ask">
                    <i class="icon icon-drawer-ask-a-questn"></i> Ask A Question
                </a>

                <a class="item menu-close item-icon-left menulist" href="#/app/filter">
                    <i class="icon icon-filter"></i> Filter
                </a>

                <a class="item menu-close item-icon-left menulist" ng-click="">
                    <i class="icon icon-logout"></i> Logout
                </a>

            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>