<ion-view view-title="Profile">
    <ion-header-bar align-title="left" class=" lightgreybg lightblackcolor z-depth-2">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical lightblackcolor" menu-toggle="left">
            </button>
        </div>
        <h1 class="title lightblackcolor">Profile</h1>
        <div class="buttons">
            <button class="button button-icon button-clear lightblackcolor" ng-class="{'ion-checkmark':editprofile, 'ion-edit':!editprofile}" ng-click="editmode()">
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="">

            <div class="row profilephotodiv">
                <div class="col col-10"></div>
                <div class="col col-80 textcenter">
                    <img src="img/teacher.png" width="50%">
                    <h4 class="menuname  lightblackcolor">Abhay Navinchandra Amin</h4>
                    <h6 class="lightblackcolor menuprofileemail">in house Student</h6>
                </div>
                <div class="col col-10"></div>

            </div>

            <div class="row" ng-class="{'marginbottom0':editprofile}">
                <div class="col col-20 textcenter">
                    <img src="img/id-card-profile.png" width="50%">
                </div>
                <div class="col col-80 lightblackcolor">
                    <h5 class="lightblackcolor fontsize13 marginbottom12">IH262415</h5>

                    <!--STANDARD-->
                    <h5 class="lightblackcolor fontsize13 marginbottom12" ng-if="!editprofile">IXth</h5>

                    <div class="input-field margintop0" ng-if="editprofile">
                        <select>
                            <option value="" disabled selected>Choose your standard</option>
                            <option value="1">VII th</option>
                            <option value="2">IX th</option>
                            <option value="3">X th</option>
                        </select>
                    </div>

                    <!--SCHOOL-->
                    <h5 class="lightblackcolor fontsize13 " ng-if="!editprofile">Fatima High School</h5>
                    <div class="input-field margintop0 profileeditimput" ng-if="editprofile">
                        <input id="school" type="text" class="validate noshadow marginbottom0">
                        <label for="school">School</label>
                    </div>
                    <a class="button button-icon icon ion-edit lightblackcolor" ng-if="editprofile"></a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col col-20 textcenter">
                <img src="img/register-phone.png" width="45%">
            </div>
            <div class="col col-80 lightblackcolor fontsize13">
                <p class="lightblackcolor displayinline phnumberdown">9820840946</p>
                <a class="waves-effect waves-light btn primarybg changenumberbtn" ng-if="editprofile" ng-click="changenummodal()">Change</a>
            </div>
        </div>

        <div class="row"  ng-class="{'marginbottom0':editprofile}">
            <div class="col col-20 textcenter">
                <img src="img/register-mail.png" width="45%">
            </div>
            <div class="col col-80 lightblackcolor fontsize13">
                <p class="lightblackcolor displayinline phnumberdown" ng-if="!editprofile">abhay.pixolo@gmail.com</p>
                <div class="input-field margintop0 profileeditimput" ng-if="editprofile">
                    <input id="email" type="email" class="validate marginbottom0">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>
                <a class="button button-icon icon ion-edit lightblackcolor" ng-if="editprofile"></a>
            </div>
        </div>

        <div class="row" ng-click="gotoquestionsasked()" ng-if="!editprofile">
            <div class="col col-20 textcenter">
                <img src="img/question-asked-color.png" width="45%">
            </div>
            <div class="col col-80 lightblackcolor fontsize13">Questions Asked</div>
        </div>

        <div class="textcenter">
            <a class="waves-effect waves-light btn primarybg marginauto" ng-if="editprofile" ng-click="changepassmodal()">Change Password</a>
        </div>





    </ion-content>
</ion-view>
