<ion-view view-title="Standard">
    <ion-header-bar align-title="left" class="bar-calm primarybg">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
            </button>
        </div>
        <h1 class="title">Welcome</h1>
        <div class="buttons">
            <button class="button button-icon button-clear icon-chat-icon">
            </button>
            <div class="chatdot"></div>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">

        <div class="row">
            <div class="col col-50 textcenter">
                <div class="standardbox" ng-click="gotoquestions()">
                    <h1 class="standardnumber">8</h1>
                    <p class="fontsize12">8th</p>
                </div>
            </div>
            <div class="col col-50 textcenter">
                <div class="standardbox" ng-click="gotoquestions()">
                    <h1 class="standardnumber">9</h1>
                    <p class="fontsize12">9th</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 textcenter">
                <div class="standardbox" ng-click="gotoquestions()">
                    <h1 class="standardnumber">10</h1>
                    <p class="fontsize12">10th</p>
                </div>
            </div>
            <div class="col col-50 textcenter"></div>
        </div>

    </ion-content>
</ion-view>