@import 'vars.less';
/*REUSABLES*/

.answereddiv {
    background-color: rgba(3, 189, 214, 0.19);
    color: @color1;
    padding: 1.1%;
    border-radius: 4px;
}

.questionimagediv {
    height: 80px;
    overflow: hidden;
    text-align: center;
    border: @greycolor solid 1px;
}

.questionimage {
    max-width: 100%;
}