@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\61";
}
.icon-calculator:before {
  content: "\66";
}
.icon-chat-icon:before {
  content: "\68";
}
.icon-chemistry:before {
  content: "\69";
}
.icon-delete-icon:before {
  content: "\6b";
}
.icon-feed:before {
  content: "\6d";
}
.icon-pencil-edit-button:before {
  content: "\75";
}
.icon-logout:before {
  content: "\76";
}
.icon-home:before {
  content: "\79";
}
.icon-filter:before {
  content: "\7a";
}
.icon-register-mail:before {
  content: "\41";
}
.icon-register-phone:before {
  content: "\42";
}
.icon-un-verified:before {
  content: "\43";
}
.icon-bookmark-active:before {
  content: "\62";
}
.icon-profile-questns-left:before {
  content: "\63";
}
.icon-drawer-ask-a-questn:before {
  content: "\65";
}
.icon-prev-asked-questns:before {
  content: "\67";
}
.icon-question-asked-color:before {
  content: "\6a";
}
.icon-question-left-drawer:before {
  content: "\6c";
}
.icon-profile:before {
  content: "\6e";
}
.icon-bookmark:before {
  content: "\64";
}
.icon-login-password:before {
  content: "\6f";
}
.icon-caret-down:before {
  content: "\70";
}
.icon-login-phone-hollow:before {
  content: "\71";
}
.icon-send-plane-blue:before {
  content: "\72";
}
.icon-camera:before {
  content: "\73";
}
.icon-gallery:before {
  content: "\74";
}
