@color1: #03bdd6;
@color2: #04a4ba;
@greencolor: #0f7b83;
@darkbluecolor: #3a93b5;
@lightgreycolor: #FAFAFA;
@greycolor: #E0E0E0;
@darkgreycolor: #9E9E9E;
@lightblack: #616161;
@imgpath: '../img/';
@textcolor: #c6c6c6;
.textcenter {
    text-align: center !important;
}
.textright {
    text-align: right !important;
}
.textleft {
    text-align: left !important;
}
.marginauto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.paddingbottom0 {
    padding-bottom: 0px !important;
}
.paddingtop0 {
    padding-top: 0px !important;
}
.marginbottom0 {
    margin-bottom: 0px !important;
}
.marginbottom12 {
    margin-bottom: 12px !important;
}
.margintop0 {
    margin-top: 0px !important;
}
margintop3 {
    margin-top: 3px !important;
}
.margintop10 {
    margin-top: 10px !important;
}
.margintop25 {
    margin-top: 25px !important;
}
.margintop30 {
    margin-top: 31%;
}
.paddingbottom30 {
    padding-bottom: 30px;
}
.fontsize12 {
    font-size: 1.2em !important;
}
.fontsize13 {
    font-size: 1.3em !important;
}
.fontsize17 {
    font-size: 1.7em !important;
}
.fontsize34 {
    font-size: 3.4em !important;
}
.normalwhitespace {
    white-space: normal !important;
}
.floatright {
    float: right;
}
.displayinline {
    display: inline-block !important;
}
.positionrelative{
    position: relative !important;
}
.noshadow {
    box-shadow: 0px 0px 0px #fff !important;
}
.borderradius10 {
    border-radius: 10px !important;
}
.width40p {
    width: 40px;
}
.width65 {
    width: 65% !important;
}
.width100 {
    width: 100% !important;
}
.greyborder {
    border: 2px solid @darkgreycolor;
}
.lightgreybg {
    background-color: @lightgreycolor !important;
    color: @lightblack !important;
}
.lightgreycolor {
    color: @lightgreycolor !important;
}
.greybg {
    background-color: @greycolor !important;
}
.lightblackbg {
    background-color: @lightblack !important;
}
.lightblackcolor {
    color: @lightblack !important;
}
.primarybg {
    background-color: @color1 !important;
    color: white !important;
}
.primarybg .tabs {
    background-color: @color1 !important;
    color: white !important;
}
.secondarybg {
    background-color: @color2 !important;
    color: white !important;
}
.greenbg {
    background-color: @greencolor !important;
    color: white !important;
}
.darkbluebg {
    background-color: @darkbluecolor !important;
    color: white !important;
}
.primarycolor {
    color: @color1 !important;
}
.secondarycolor {
    color: @color2 !important;
}
.greencolor {
    color: @greencolor !important;
}
.darkbluecolor {
    color: @darkbluecolor !important;
}
.darkgreycolor {
    color: @darkgreycolor !important;
}
